{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static_admin/styles_area_cad_categories.css' %}">
    <title>Controle de Usuário</title>
</head>
{% include 'arq_global/menu_global_system.html' %}
<body>
    <h1>Control Users</h1>
    <table id="user-table">
        <thead>
            <tr>
                <th>user</th>
                <th>Acão</th>
            </tr>
        </thead>
        <tbody>
            {% for list_users in list_users %}
            <tr>
                <td>{{ list_users.4}} </td>
                <td>
                    <form action="{% url 'block_user' list_users.0 %}" id="add-friend" method="POST">
                        {% csrf_token %}
                        <button type="submit" value="edit" name="edit-button">Editar</button>
                    </form>
                    {% if list_users.9 == True %}
                        <form action="{% url 'block_user' list_users.0 %}" id="add-friend" method="POST">
                            {% csrf_token %}
                            <button type="submit" value="block" name="block-button">Bloquear</button>
                        </form>
                    {% elif list_users.9 == False %}
                    <form action="{% url 'block_user' list_users.0 %}" id="add-friend" method="POST">
                        {% csrf_token %}
                        <button type="submit" value="unblock" name="block-button">Desbloquear</button>
                    </form>

                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<script src="{% static 'static_system/static_script.js' %}"></script>
</body>
</html>