{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static_admin/styles_area_cad_categories.css' %}">
    <title>Formulário de Cadastro de Categorias</title>
</head>
<body>
{% include 'arq_global/menu_global_system.html' %}
<body>
    <div class="container">
        <div class="form-box">
            <h2>Formulário de Cadastro de Categorias</h2>
            <form action="{% url 'cad_categories_curse' %}" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Nome da Categoria" name="name_categorie" required>
                <textarea placeholder="Descrição" name="desc_categorie" maxlength="150"></textarea>
                <button type="submit" name="buttom" value="buttom_save_categorie">Save</button>
            </form>
        </div>
    </div>
    <div class="table_results">
        <table>
            <thead>
                <tr>
                    <th>Nome da Categoria</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for return_data in return_data %}
                <tr>
                    <td>{{ return_data.name}}</td>
                    <td> {{ return_data.description }}</td>
                    <td>
                        <label for="">
                            <a href="{% url 'update_cad_categories_curse' return_data.id %}">Editar</a>
                        </label>
                        <form action="{% url 'delete_categories_curse' return_data.id %}" id="delete-cad" method="POST">
                        {% csrf_token %}
                        </form>
                        <button type="submit" onclick="showConfirmation()">Deletar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<script src="{% static 'static_admin/script_admin.js' %}"></script>
</body>
</html>