{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static_admin/styles_area_cad_categories.css' %}">
    <title>Formulário de Cadastro de Categorias</title>
</head>
<body>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h2>Formulário de Cadastro de Categorias</h2>
            <form>
                <input type="text" placeholder="Nome da Categoria" name="name_categorie" required>
                <textarea placeholder="Descrição" name="desc_categorie"></textarea>
                <button type="submit">Save</button>
            </form>
        </div>
        <div class="table_results">
            <table>
                <thead>
                    <tr>
                        <th>Nome da Categoria</th>
                        <th>Descrição</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Categoria 1</td>
                        <td>Descrição da Categoria 1</td>
                        <td>
                            <button>Editar</button>
                            <button>Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
